<div fxLayout="row" fxLayoutAlign="center">
    <form
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
    >
        <mat-form-field fxLayoutAlign="center">
            <mat-label>User name</mat-label>
            <input matInput formControlName="userName">
            <mat-error *ngIf="c.userName.errors && c.userName.touched || c.userName.dirty">
                <span *ngIf="c.userName.errors?.required">
                  Username cannot be empty
                </span>
                <span *ngIf="c.userName.errors?.alreadyExists">
                  Username was already used
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxLayoutAlign="center">
            <mat-label>User password</mat-label>
            <input matInput type="password" formControlName="userPass">
            <mat-error *ngIf="c.userPass.errors">
                User password cannot be empty
            </mat-error>
        </mat-form-field>

        <mat-form-field fxLayoutAlign="center">
          <mat-label>Confirm</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>

      <div class="validation-errors">
        <ng-container>
          <div class="error-message" *ngIf="signupForm.hasError('areEqual')">
            Passwords don't match
          </div>
        </ng-container>
      </div>

        <div fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="signupForm.invalid">
                Sign Up
            </button>
        </div>
    </form>
</div>
